<div class="container">
  <form>
    <input placeholder="Search ticker" type="text" [ngModel]='searchText' (ngModelChange)='changed($event)'
      [ngModelOptions]="{standalone: true}">
    <span class="go"></span>
  </form>
  <table class="autocomplete-list" cellpadding="0" *ngIf="suggestionList.length" cellspacing="0">
    <tbody>
      <tr class="links">
        <td colspan="3">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tbody>
              <tr *ngFor="let suggestion of suggestionList" (click)="selectedSuggestion(suggestion)">
                <td class="ticker">{{suggestion.ticker}}</td>
                <td>{{suggestion.company}}</td>
                <td class="exchange">{{suggestion.exchange}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ol *ngIf="selectedSuggestionDetails && selectedSuggestionDetails.stockTickerSymbol">
  <li><b>Stock Ticker Symbol: </b> {{selectedSuggestionDetails['stockTickerSymbol']}}</li>
  <li><b>Company Name: </b> {{selectedSuggestionDetails['companyName']}}</li>
  <li><b>Company Industry: </b> {{selectedSuggestionDetails['companyIndustry']}}</li>
  <li><b>Sector:</b> {{selectedSuggestionDetails['sector']}}</li>
  <li><b>Logo:</b> <img src="{{selectedSuggestionDetails['logo']}}" alt=""></li>
</ol>
<div class="latest-news" *ngIf="selectedSuggestionDetails && selectedSuggestionDetails.stockTickerSymbol">
  <h2>Latest News</h2>
  <div class="news" *ngFor="let news of selectedSuggestionDetails['latestNews']">
    <h3>{{news['headline']}} <small>{{news['datetime'] | date: 'medium'}}</small></h3>
    <small><b>{{news['source']}}</b></small>
    <img src="{{news['image']}}" alt="">
    <p>{{news['summary']}}</p>
    <a href="{{news['url']}}" target="_blank">View Detail</a>
  </div>
</div>